/***************************************************************************/
                            /*Index.html*/
/***************************************************************************/

@font-face {
    font-family: pokemon;
    src: url('./Fontpokemon.ttf');
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/background.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    animation: point 80s linear infinite;   
}


/*header*/
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 220, 0.603);
    backdrop-filter: blur(10px);
    border-bottom: solid 3px rgba(3, 100, 3, 0.582);
    padding: 10px;
    z-index: 1;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}


/*gallery*/
.gallery_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}







a.chevron { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width : calc(100/3);
    
}


.items {
    width: 15%;
    margin: 40px;
    padding: 40px;
    border-radius: 100px;
    background-color: rgba(17, 221, 107,0.4);
    filter: grayscale(40%);
    backdrop-filter: blur(5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.623);
    filter: drop-shadow(16px 16px 10px) rgb(31,28,28);

}

.items:hover {
    filter: none;
    opacity: 100%;
    -ms-transform: scale(1.05);
    /* IE */
    -webkit-transform: scale(1.05);
    /* Safari */
    transform: scale(1.05);
    background-color: rgba(245, 245, 220, 0.603);
    transition: 0.2s;
}

img.items{
    width: auto;
    height: auto;
   
}



/***************************************************************************/
                        /*Responsive accueil*/
/***************************************************************************/

@media screen and (max-width: 600px) {
    header img {
        width: 30%;
    }
}

@media screen and (min-width: 150px) {
    .items {
        width: 70%;
    }
}

@media screen and (min-width: 290px) {
    header img {
        width: 60%;
    }
    .items {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    header img {
        width: 40%;
    }
    .items {
        width: 32%;
    }
}

@media screen and (min-width: 750px) {
    header img {
        width: 30%;
    }
}

@media screen and (min-width: 900px) {
    header img {
        width: 20%;
    }
    .items {
        width: 17%;
    }
}

@media screen and (min-width: 1200px) {
    header img {
        width: 15%;
    }
    .items {
        width: 11%;
    }
}






/***************************************************************************/
                    /*Pokédex - informations*/
/***************************************************************************/

body.details {
    box-sizing: border-box;
    display: block;
    margin: 60px 300px;
}

.bouton {
    display: block;
    align-items: flex-start;
    width: 160px;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.603);
    border: solid 2px rgba(3, 100, 3, 0.582);
    padding: 15px;
}

.bouton a {
    text-decoration: none;
    font-family: pokemon;
    font-size: 14px;
    color: black;
    justify-content: space-around;
    align-items: center;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation-name: shake;
    animation: shake 0.62s cubic-bezier(.36,.07,.19,.97) both;

}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


.carte img {
    width: 90%;
}

.pokemon_details {
    display: flex;
    justify-content: space-between;
    margin-top: inherit;
}


.block_identite {
    display: flex;
    border: solid rgba(3, 100, 3, 0.582) 2px;
    background-color: rgba(245, 245, 220, 0.603);
    width: 40%;
    height: fit-content;
    justify-content: space-between;
}


ul li {
    padding: 10px;
    font-family: simpel;
    font-size: 20px;
    list-style-type: none;
}


ul.droite {
    display: block;
    text-align: right;
}

.description {
    margin-top: 7%;
    margin-left: auto;
}

.description p {
    padding: 20px;
}

.texte {
    text-align: justify;
    line-height: 45px;
    border: solid 2px rgba(3, 100, 3, 0.582);
    background-color: rgba(245, 245, 220, 0.603);
    font-family: pokemon;
}

.evolution {
    display: flex;
    background: rgba(245, 245, 220, 0.603);
    border: 2px solid rgba(3, 100, 3, 0.582);
    margin-top: 40px;
    justify-content: center;
    
}

.evolution .fleche {
    width: 20%;
    min-width: 10px;
    max-width: 50px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;

}

.evolution .img-responsive {
    width: 20%;
    max-width: 150px;
    height: auto;
    padding: 30px;
}

/***************************************************************************/
                        /*Responsive détails*/
/***************************************************************************/

@media screen and (min-width: 1600px) {
    body.details {
        margin: 60px 280px;
    }
    .carte {
        width: 30%;
    }
    .carte img {
        width: 80%;
    
     }
    .evolution{
        justify-content: center;
    }
}

@media screen and (max-width: 1333px) {
    body.details {
        margin: 40px 20px;
    }
    .carte {
        width: 30%;
    }
    .block_identite {
        width: 50%;
    }
    
}


@media screen and (max-width: 400px) {
    .evolution.fleche{      
        justify-content: space-around;

    }


}


@media screen and (max-width: 600px) {
    .bouton {
        width: 35%;
        max-width: 100px;
        min-width: 100px;

    }
    .bouton a {
        font-size: 12px;
    }
    .pokemon_details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .carte img {
        width: 100%;
    }
    .block_identite {
        width: 100%;
        margin-top: 30px;
    }
    .description p {
        font-size: 14px;
        line-height: 2;
    }
    .evolution {
        display: flex;
        width: 100%;
        justify-content: center;
        
    }
}
@media screen and (min-width: 600px) {
    .bouton {
        width: 35%;
        max-width: 100px;
        min-width: 100px;

    }
}

  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: scroll 200s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }


